<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Edit author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy author", @author, method: :delete %>
</div>
