<%= form_with model: @post, local: false do |f| %>
<div>
    <%= f.label :title %>
    <%= f.text_field :title%>
</div>
<div>
    <%= f.label :body %>
    <%= f.text_field :body %>
</div>
<div>
    <%= f.submit "Update Post"%>
</div>
<% end %>
